[class^="ui-"] + [class^="ui-"] {
  margin-top: 20px;
}
.body-container.padding-none > [class^="ui-"] {
  border: none ;
}
.body-header {
  background: #f1f1f1;
  position: relative;
  padding: 10px 20px;
  box-shadow: 0 1px 0 #ffffff inset, 0 -1px 0 #ffffff inset, 1px 0 0 #ffffff inset, -1px 0 0 #ffffff inset;
  flex: 0 0 auto;
  order: 1;
}
.body-leftSide {
  background: #f1f1f1;
  position: relative;
  padding: 10px 20px;
  box-shadow: 0 1px 0 #ffffff inset, 0 -1px 0 #ffffff inset, 1px 0 0 #ffffff inset, -1px 0 0 #ffffff inset;
  flex: 0 0 auto;
  order: 1;
}
.body-container {
  padding: 10px;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5) inset !important;
  position: relative;
  white-space: normal;
  flex: 1 0 auto;
  order: 2;
}
.body-container p {
  margin: 5px 0px;
}
.body-footer {
  background: #f1f1f1;
  box-shadow: 0 1px 0 #ffffff inset, 0 -1px 0 #ffffff inset, 1px 0 0 #ffffff inset, -1px 0 0 #ffffff inset;
  order: 3;
  position: relative;
  padding: 10px 20px;
  flex: 0 0 auto;
}
.body-header + .body-container,
.body-header + [class^="wid-"] {
  border-top: 1px solid #b9b9b9;
}
.body-container + .body-footer,
[class^="wid-"] + .body-footer {
  border-top: 1px solid #b9b9b9 !important;
}
.body-splitter {
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  background-color: #E2E2E2;
  height: 8px;
  margin-left: -1px;
  margin-right: -2px;
  order: 2;
  flex: 0 0 auto;
}
.c-splitter-row {
  height: 6px;
  background: #f1f1f1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#d8d8d8));
  background-image: -moz-linear-gradient(top, #f1f1f1, #d8d8d8);
  background-image: -ms-linear-gradient(top, #f1f1f1, #d8d8d8);
  background-image: linear-gradient(top, #f1f1f1, #d8d8d8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#d8d8d8', GradientType=0);
  border-color: #bbb;
  border-style: solid;
  border-bottom-width: 1px;
  border-left: none;
  border-right: none;
  flex: 0 0 auto;
}
.c-splitter-row.flat {
  background: #D8D8D8  !important;
}
.c-splitter-col {
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  background-color: #E2E2E2;
  width: 8px;
  margin-top: -1px;
  margin-bottom: -2px;
  order: 2;
  flex: 0 0 auto;
}
.c-splitter-col2 {
  width: 20px;
}
.parentInherit {
  display: inherit !important;
  flex-direction: inherit !important;
  flex: 1 1 auto ;
}
.body-footer > .ui-toolbar,
.body-header > .ui-toolbar {
  border: none;
}
.ui-toolbar {
  overflow: hidden;
  border-top: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  position: relative;
  padding: 0px;
  line-height: 0px;
  background-color: #f1f1f1;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column ;
}
.ui-toolbar > .toolbar-band {
  align-items: center;
  box-shadow: 0 1px 0 #ffffff inset, 0 -1px 0 #ffffff inset, 1px 0 0 #ffffff inset, -1px 0 0 #ffffff inset;
  border-bottom: 1px solid #bbb;
  line-height: 2;
  height: 50px;
  padding: 2px 10px;
  display: flex;
  flex-direction: row ;
}
.ui-toolbar > .toolbar-band:last-child {
  border-bottom: none;
}
.ui-toolbar > .toolbar-band.band--sm {
  height: 36px;
}
.ui-toolbar > .toolbar-band.band--lg {
  height: 70px;
  line-height: 3.5;
}
.ui-toolbar > .toolbar-band > * {
  margin: 0px 5px;
}
.ui-toolbar > .toolbar-band > *:first-child {
  margin-right: 0;
}
.ui-toolbar > .toolbar-band > *:last-child {
  margin-left: 0;
}
.toolbar-band > .btn {
  border-radius: 0;
  border: 1px solid transparent ;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  display: flex !important;
  height: auto;
  align-items: center;
  padding: 0px 10px;
  margin: 0px 1px;
  text-wrap: none;
  white-space: nowrap;
  word-wrap: normal;
  text-align: right;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.toolbar-band > .btn i {
  margin: 0px;
  margin-left: 10px;
  color: #666;
  font-size: 25px;
}
.toolbar-band > .btn span {
  font-size: 17px;
  font-family: wamer;
  font-weight: 400;
}
.toolbar-band > .btn.disabled {
  color: silver;
}
.toolbar-band > .btn.disabled:hover {
  box-shadow: none;
  border: none !important;
}
.toolbar-band > .btn:not(.disabled):hover {
  border: 1px solid silver;
  box-shadow: 0 1px 0 #ffffff inset, 0 -1px 0 #ffffff inset, 1px 0 0 #ffffff inset, -1px 0 0 #ffffff inset;
  background: none;
  color: #222;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.toolbar-band.band--sm > .btn i {
  font-size: 15px;
}
.toolbar-band.band--lg > .btn {
  flex-direction: row ;
  justify-content: center;
}
.toolbar-band.band--lg > .btn i {
  font-size: 40px;
  flex: 1 1 0;
}
.toolbar-band > .btn:not(.disabled):active,
.toolbar-band > .btn.active {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.19) inset;
  border-top: 1px solid #9c9c9c;
  border-left: 1px solid #9c9c9c;
  border-right: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
}
.toolbar-band > .band--separator {
  width: 4px	;
  background-color: #ccc;
  border-top: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  margin: 3px 10px;
  height: 80%;
}
.ui-panel,
.ui-panel-box,
.ui-panel-framed,
.ui-panel-border {
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px #c3c3c3;
  border-radius: 3px;
  color: #8b91a0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column ;
  padding: 2px;
}
.t {
  border: 1px dotted red;
}
.panel-header,
.ui-panel-framed > .panel-header,
.ui-panel-border > .panel-header,
.ui-panel-border > .ui-panel-framed > .panel-header {
  -moz-user-select: none;
  padding: 0px 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 0 #FFFFFF inset;
  flex: 0 0 40px;
  display: flex;
  flex-direction: row ;
  flex-wrap: nowrap;
  align-items: stretch;
}
.panel-header .header-icon,
.panel-header .header-caption,
.panel-header .header-helpers,
.ui-panel-framed > .panel-header .header-icon,
.ui-panel-framed > .panel-header .header-caption,
.ui-panel-framed > .panel-header .header-helpers {
  align-self: center;
  flex: 0;
}
.panel-header .header-icon,
.ui-panel-framed > .panel-header .header-icon {
  padding: 0px 10px;
  order: 1;
}
.panel-header .header-icon i,
.ui-panel-framed > .panel-header .header-icon i {
  font-size: 18px;
  color: #666;
}
.panel-header .header-icon:empty,
.ui-panel-framed > .panel-header .header-icon:empty {
  padding: 10px;
}
.panel-header .header-caption,
.ui-panel-framed > .panel-header .header-caption {
  flex: 1 0 auto;
  order: 2;
  font-family: WMofid;
  font-style: normal;
  font-size: 22px;
  color: #333;
  text-shadow: 1px 1px 1px #999;
}
.panel-header .header-helpers,
.ui-panel-framed > .panel-header .header-helpers {
  order: 3;
  display: flex;
  flex-direction: row ;
}
.panel-header .header-helpers > *,
.ui-panel-framed > .panel-header .header-helpers > * {
  border-top: 1px solid #777272;
  border-left: 1px solid #777272;
  border-right: 1px solid #777272;
  border-bottom: 1px solid #777272;
  padding: 2px 4px;
  overflow: hidden;
  box-shadow: 0 0 1px #707070 inset;
  background-color: white;
  margin: 0px 2px;
  text-align: center;
  align-self: center;
  border-radius: 3px 3px 3px 3px !important;
  cursor: pointer;
}
.panel-header .header-helpers > * > i,
.ui-panel-framed > .panel-header .header-helpers > * > i {
  text-align: center;
  position: relative;
}
/**
 * .panel-header style
 */
.panel-header.bg-3d,
.ui-panel-framed > .panel-header.bg-3d {
  background-color: #dadada;
  background-image: linear-gradient(to bottom, #f2f2f2, #dadada);
}
.panel-header.bg-flat,
.ui-panel-framed > .panel-header.bg-flat {
  background-color: #f2f2f2;
}
.panel-body,
.ui-panel-framed > .panel-body,
.ui-panel-border > .panel-body {
  padding: 10px;
  background-color: #ffffff;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column ;
  flex-wrap: nowrap;
  white-space: initial;
}
.panel-body.type-col {
  flex-direction: row  !important;
}
/**
 * .ui-panel-box
 */
.ui-panel-box {
  padding: 10px;
  border-top: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
}
/**
 * .ui-panel-framed
 */
.ui-panel-framed {
  padding: 0;
  border-top: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  background-color: #dadada;
}
.ui-panel-framed > .panel-header.bg-flat,
.ui-panel-framed > .ui-panel-framed > .panel-header.bg-flat {
  background-color: #dadada;
  background-image: linear-gradient(to bottom, #f2f2f2, #dadada);
}
.ui-panel-framed > .panel-body {
  margin: 6px;
  padding: 6px;
  border-top: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
}
.ui-panel-framed .panel-header + .panel-body,
.ui-panel-framed .ui-panel-framed > .panel-header + .panel-body {
  margin-top: 0;
}
.ui-panel-border {
  padding: 0;
  border-top: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  background-color: #e5e6ea;
}
.ui-panel-border > .panel-header,
.ui-panel-border > .ui-panel-framed > .panel-header {
  border-bottom: 1px solid #b9b9b9;
}
.ui-panel-border > .panel-body {
  padding: 6px;
  margin: 6px;
  border-top: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  border-right: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
}
.ui-tab {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  border-top: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  background-color: #ebebeb;
  box-shadow: 0px 0px 3px 0 #ccc inset;
  overflow: hidden;
}
.ui-tab > .tab-nav {
  list-style: none;
  position: relative;
  background: #f5f5f5;
  padding: 20px;
  flex: 0 0 auto;
  box-shadow: 0 1px 0 #ffffff inset, 0 -1px 0 #ffffff inset, 1px 0 0 #ffffff inset, -1px 0 0 #ffffff inset;
  display: flex;
  flex-direction: row ;
  -moz-user-select: none;
  box-shadow: 0px 0px 3px 0 #ccc;
}
.tab-nav > li,
.tab-nav > .nav-item {
  position: relative;
  z-index: 1;
  margin-left: 2px;
  padding: 2px;
  cursor: default;
  background: transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.tab-nav > li > a,
.tab-nav > .nav-item > a {
  position: relative;
  display: block;
  color: #333333;
  padding: 5px 15px;
  font-size: 14px;
  font-family: "WAmer", "Tahoma";
  font-weight: normal;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  z-index: 2;
  white-space: nowrap;
}
.tab-nav > li.active > a,
.tab-nav > .nav-item.active > a {
  background-color: #ebebeb;
  border-top: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}
.tab-nav > li:not(.active):hover > a,
.tab-nav > .nav-item:not(.active):hover > a {
  border-top: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  background-color: #eeeeee;
  cursor: pointer;
}
.ui-tab > .tab-container {
  margin: 10px;
  background-clip: content-box-box;
  position: relative;
  background-color: #ffffff;
  flex: 1 1 0;
  display: flex;
  white-space: normal;
  flex-wrap: nowrap;
  outline: 1px solid #ededed;
  border-top: 1px solid #b7b7b7;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
}
.ui-tab > .tab-container > .tab-body {
  padding: 6px;
  display: none;
  position: relative;
}
.ui-tab.typ {
  /**
 * 
 */
  /**
 * 
 */
}
.ui-tab.typ-top {
  flex-direction: column ;
}
.ui-tab.typ-top > .tab-nav {
  padding-bottom: 0px;
  padding-top: 5px;
  order: 0;
  border-bottom: 1px solid #c9c9c9;
}
.ui-tab.typ-top li {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.ui-tab.typ-top li.active {
  border-bottom-color: #ebebeb;
}
.ui-tab.typ-top li a {
  border-radius: 6px 6px 0px 0px;
  border-bottom: none;
}
.ui-tab.typ-top li:not(.active):hover > a {
  border-bottom: none;
}
.ui-tab.typ-top li.active a {
  border-bottom: none;
}
.ui-tab.typ-top .tab-container {
  order: 1;
  flex: 1;
}
.ui-tab.typ-top .tab-body.active {
  display: flex;
  flex-direction: column ;
  flex: 1 0 auto;
  overflow: auto;
}
.ui-tab.typ-bottom {
  flex-direction: column ;
}
.ui-tab.typ-bottom > .tab-nav {
  padding-bottom: 5px;
  padding-top: 0px;
  order: 1;
  border-top: 1px solid #c9c9c9;
}
.ui-tab.typ-bottom li {
  margin-top: 0px;
  padding-top: 0px;
}
.ui-tab.typ-bottom li.active {
  border-top-color: #ebebeb;
}
.ui-tab.typ-bottom li a {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}
.ui-tab.typ-bottom li:not(.active):hover > a {
  border-top: none;
}
.ui-tab.typ-bottom li.active a {
  border-top: none;
}
.ui-tab.typ-bottom .tab-container {
  order: 0;
  flex: 1 0 auto;
}
.ui-tab.typ-bottom .tab-body.active {
  display: block;
  width: 100%;
  overflow: auto;
}
.ui-tab.typ-right {
  flex-direction: row ;
}
.ui-tab.typ-right > .tab-nav {
  padding-left: 0px;
  padding-right: 10px;
  order: 0;
  border-left: 1px solid #c9c9c9;
  flex-direction: column ;
}
.ui-tab.typ-right li {
  margin-left: 0px;
  padding-left: 0px;
}
.ui-tab.typ-right li.active {
  border-left-color: #ebebeb;
}
.ui-tab.typ-right li a {
  border-radius: 0px 6px 6px 0;
  border-left: none;
}
.ui-tab.typ-right li:not(.active):hover > a {
  border-left: none;
}
.ui-tab.typ-right li.active a {
  border-left: none;
}
.ui-tab.typ-right .tab-container {
  order: 1;
  flex-direction: column ;
}
.ui-tab.typ-right .tab-body.active {
  display: flex;
  flex-direction: column ;
  flex: 1 0 auto;
  overflow: auto;
}
.ui-tab.typ-left {
  flex-direction: row ;
}
.ui-tab.typ-left > .tab-nav {
  padding-left: 5px;
  padding-right: 0px;
  order: 1;
  border-right: 1px solid #c9c9c9;
  flex-direction: column ;
}
.ui-tab.typ-left li {
  margin-right: 0px;
  padding-right: 0px;
}
.ui-tab.typ-left li.active {
  border-right-color: #ebebeb;
}
.ui-tab.typ-left li a {
  border-radius: 6px 0px 0px 6px;
  border-right: 0px;
}
.ui-tab.typ-left li:not(.active):hover > a {
  border-right: 0px;
}
.ui-tab.typ-left li.active a {
  border-right: 0px;
}
.ui-tab.typ-left .tab-container {
  order: 0;
  flex-direction: column ;
}
.ui-tab.typ-left .tab-body.active {
  display: block;
  flex: 1 1 0;
}
.ui-menu,
.menu-submenu {
  display: block;
  position: relative;
  background-color: #37424a;
  -moz-user-select: none;
}
.ui-menu li {
  display: block;
  position: relative;
}
.ui-menu > li {
  border-top: 1px solid rgba(102, 110, 123, 0.43);
}
.ui-menu > li:first-child {
  border-top: none;
}
.ui-menu a {
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.ui-menu .icon {
  align-self: center;
  text-align: center;
}
.ui-menu .icon i {
  color: #01B070;
  font-size: 1.3rem;
  font-weight: 400;
  position: relative;
}
.ui-menu .label {
  flex: 1 0 auto;
}
.ui-menu .label span {
  color: #DCE2E6;
  font-family: Wirans;
  font-size: 1rem;
  line-height: 0;
  font-weight: 300;
  text-shadow: 1px 1px 1px #444;
}
.ui-menu > li > a {
  flex-direction: column ;
  padding: 15px 0;
}
.ui-menu > li > a .label {
  padding-top: 10px;
}
.ui-menu > li:hover > a {
  background: #3d4a53;
}
.ui-menu > li:hover > a .label span {
  color: #FFFFFF;
}
.menu-submenu {
  background-color: #303a41;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  right: 100%;
}
.menu-submenu li {
  padding: 0 5px 5px 5px;
}
.menu-submenu li:first-child {
  padding-top: 5px;
}
.menu-submenu a {
  align-items: center;
  flex-direction: row ;
  width: 100%;
  background-color: transparent;
  padding: 5px 0  ;
}
.menu-submenu a > * {
  align-self: center;
}
.menu-submenu > li:hover > a {
  background: #3d4a53;
}
.menu-submenu .icon {
  padding: 0 5px 0 10px;
}
.ui-menu > li:hover > .menu-submenu,
.menu-submenu li:hover > .menu-submenu {
  display: block;
}
.ui-menu li:hover > a:not(:only-child):after,
.menu-submenu li:hover > a:not(:only-child):after {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid #303a41;
  border-bottom: 10px solid transparent;
  content: "";
  left: 0;
  top: calc(40%);
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.padding-none .ui-dataGrid {
  border: none;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
  margin: 0px 1px;
}
.ui-dataGrid {
  border: 1px solid #bbb;
  position: relative;
  overflow: hidden;
}
.ui-dataGrid > table {
  border-collapse: separate;
  table-layout: fixed;
  overflow: hidden;
  position: relative;
  border-spacing: 0px 0px;
  width: auto;
  min-width: 100%;
}
.ui-dataGrid .table-header th,
.ui-dataGrid > table > thead th,
.ui-dataGrid .table-body td,
.ui-dataGrid > table > tbody td,
.ui-dataGrid .table-footer td .ui-dataGrid > table > tfoot td {
  padding: 5px 10px;
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #fff;
  color: rgba(17, 17, 17, 0.73);
  vertical-align: middle;
}
.ui-dataGrid .table-body td,
.ui-dataGrid > table > tbody td {
  text-shadow: 1px 1px 1px #ccc;
  font-family: WAmer, "Fira";
  font-size: 12px;
  font-size-adjust: 0.5;
  font-weight: 400;
  font-size: 14px;
}
.ui-dataGrid .table-header th:last-child,
.ui-dataGrid thead th:last-child,
.ui-dataGrid .table-body td:last-child,
.ui-dataGrid tbody td:last-child,
.ui-dataGrid .table-footer td:last-child,
.ui-dataGrid .tfoot td:last-child {
  border-left: none !important;
}
.ui-dataGrid .table-header th:first-child,
.ui-dataGrid thead th:first-child,
.ui-dataGrid .table-body td:first-child,
.ui-dataGrid tbody td:first-child,
.ui-dataGrid .table-first td:first-child,
.ui-dataGrid .tfoot td:first-child {
  border-right: none !important;
}
/**
 * table header
 */
.ui-dataGrid .table-header,
.ui-dataGrid thead {
  box-shadow: 0 -4px 10px 0px #333333;
}
.ui-dataGrid .table-header th,
.ui-dataGrid > table > thead th {
  border-bottom: 1px solid #aaa;
  background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%);
  cursor: pointer;
  padding: 3px 10px !important;
  font-family: 'wtitr';
  font-size: 17px;
  text-shadow: 1px 1px 1px #fff;
}
.ui-dataGrid .table-header th:hover,
.ui-dataGrid thead th:hover {
  background: linear-gradient(to bottom, #f1f1f1 0%, #dddddd 100%);
}
.ui-dataGrid .table-header th a,
.ui-dataGrid thead th a {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAJFBMVEUAAAApQghqnB9toCH///9zoyxqnB9zoyxzoyxzoyyY1D6844FRtSItAAAACXRSTlMAAAAAAAED/f4yiQJ2AAAAPklEQVR4XmNwgQPcTAeGySkwJudOuOjs1VOgTM/du3fCmDNnzkQygSATU5sHwjCH6tUTYUx3hMUMU5OIMRcAHfM84bGp8C0AAAAASUVORK5CYII=') no-repeat center right;
  padding: 0px 20px ;
}
.ui-dataGrid .table-header th a.asc,
.ui-dataGrid thead th a.asc {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAJFBMVEUAAABqnB////+7Dg68Dg+8Dw9qnB+kQBm8Dw+8EBDpRkbxh4etKS3WAAAACHRSTlMAAAABAgIDA5EuZY0AAAAsSURBVHheY1CCA9xMBYb2RBhTY6cTlKncvXoqlKmxe/cOGLOjowPJhIFkAgDSNiA4ehEq8wAAAABJRU5ErkJggg==') no-repeat center right;
}
.ui-dataGrid .table-header th a.desc,
.ui-dataGrid thead th a.desc {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAG1BMVEUAAAApQghqnB////9zoyxqnB+8Dw/pRkbxh4fnPRblAAAABnRSTlMAAAAAAQPutGdqAAAAKElEQVR4XmMwhoMBZZqlpaXBmB0dbVCmQUZFIoxp1mYMYzKkBBFjLgDTwiqH2P5dfAAAAABJRU5ErkJggg==') no-repeat center right;
}
/**
 * table body
 */
.ui-dataGrid .table-body td,
.ui-dataGrid tbody td {
  border-bottom: 1px dotted #ccc;
}
.ui-dataGrid .table-body .table-row:last-child td,
.ui-dataGrid tbody tr:last-child td {
  border-bottom: none;
}
.ui-dataGrid .table-body tr:first-child td,
.ui-dataGrid tbody tr:first-child td {
  padding-top: 10px;
}
.ui-dataGrid .table-body tr:last-child td,
.ui-dataGrid tbody tr:last-child td {
  padding-bottom: 10px;
}
.ui-dataGrid .table-body tr:nth-child(odd),
.ui-dataGrid tbody tr:nth-child(odd) {
  background: #fafafa;
}
.ui-dataGrid .table-body tr:hover,
.ui-dataGrid .table-body tr:focus,
.ui-dataGrid tbody tr:hover,
.ui-dataGrid tbody tr:focus {
  background-color: rgba(234, 235, 247, 0.68);
  color: #000;
}
/**
 * table footer
 */
.ui-dataGrid .table-footer {
  box-shadow: 0 5px 10px 0 #333333;
  background: #F0F0F0;
  background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%);
}
.ui-dataGrid .table-footer td {
  border-top: 1px solid #aaa;
  padding: 3px 10px;
}
