
@base-font-size:					12px;
@base-font-name:                    WAmer, "Fira";
@base-font-adjust:                  0.5;
@base-font-weight:                  400;
@base-line-height:					1;

@padding-block: 					10px;






@base-border-color:						#9f9f9f;
@base-border-type:						solid;		
@base-border-size:						1px;

@border-radius-base:							8px;
@border-radius-large:							12px;
@border-radius-small:       					4px;


@line-height-base:								1.428571429;



@grid-gap-between:								1.5%;
@grid-gap-columns:								1.5%;


@widget-padding:								8px;






/**
 * panels varilabels
 */

@panel-bg:							#fff;
@panel-brColor:						@base-border-color;
@panel-brSize:						1px;
@panel-shadow-box:					0 0 2px rgba(0, 0, 0, 0.2);

@panel-body-padding:				6px;
@panel-body-brColor:				@panel-brColor;
@panel-body-bg:						#fff;


@panel-head-bg:          			#dadada;
@panel-head-bg-gradient-strat:		#F2F2F2;
@panel-head-bg-gradient-end:		@panel-head-bg;
@panel-head-brColor:	      		@panel-brColor;
@panel-head-font-name:              WMofid,Fira;
@panel-head-font-size:              22px;







/**
 * tabs varilabels
 */
@tab-position:					top;
@tab-brColor: 					@base-border-color;
@tab-bg:						#EBEBEB;

@tab-nav-padding:				10px;
@tab-nav-bg:					#f5f5f5;

@tab-item-padding:      		5px 15px;
@tab-item-color:				#333;
@tab-item-brColor:				@tab-brColor;
@tab-item-font-family:			 wtitr, "Fira";
@tab-item-font-size:			0.9rem;
@tab-item-font-weight:			400;
@tab-item-bg:					transparent;
@tab-item-bg-hover:				#eee;
@tab-item-bg-active:            #EBEBEB;

@tab-container-bg:				#fff;
@tab-container-border-color: 	#b7b7b7;
@tab-container-margin:			10px;
		
@tab-body-padding:				6px;
@tab-body-bg:					#fff;

/**
 * toolbar varilabels
 */
@toolbar-bg:				#efefef;
@toolbar-padding:			2px;



/**
 * paginator varilabls
 */
@paginator-bg:                  #f1f1f1;
@paginator-brColor:             @base-border-color;

@paginator-cells-bg:            #fff;
@paginator-cells-brColor:       @base-border-color;
@paginator-cells-padding:       5px;


/**
 * menu varilabls
 */
@menu-bg :    #37424A;
@menu-bg-hover : #3D4A53;
@menu-submenu-bg : #303A41;



/**
  * forms & inputs varilabls
  */ 
  
@inputs-font-family:            wmitra,Fira;
@inputs-font-size:              14px;     
@inputs-font-weight:            700;  


@label-font-family:            Wirans,Fira;
@label-font-size:              14px;     
@label-font-weight:            300;  