
@base-font-size:					12px;
@base-line-height:					1;

@padding-block: 					6px;






@base-border-color:						#C9C9C9;
@base-border-type:						solid;		
@base-border-size:						1px;

@border-radius-base:							4px;
@border-radius-large:							6px;
@border-radius-small:       					3px;


@line-height-base:								1.428571429;



@grid-gap-between:								1.5%;
@grid-gap-columns:								1.5%;


@widget-padding:								6px;






/**
 * panels varilabels
 */

@panel-bg:							#fff;
@panel-brColor:						#bbb;
@panel-brSize:						1px;
@panel-shadow-box:					0 1px 2px rgba(0, 0, 0, 0.2);

@panel-body-padding:				10px;
@panel-body-brColor:				@panel-brColor;
@panel-body-bg:						#fff;


@panel-head-bg:          			#dedede;
@panel-head-bg-gradient-strat:		#F2F2F2;
@panel-head-bg-gradient-end:		@panel-head-bg;
@panel-head-brColor:	      		@panel-brColor;









/**
 * tabs varilabels
 */
@tab-position:					top;
@tab-brColor: 					@base-border-color;
@tab-bg:						#EBEBEB;

@tab-nav-padding:				20px;
@tab-nav-bg:					#f5f5f5;

@tab-item-padding:      		5px 15px;
@tab-item-color:				#333;
@tab-item-brColor:				@tab-brColor;
@tab-item-font-family:			"WAmer","Tahoma";
@tab-item-font-size:			14px;
@tab-item-font-weight:			normal;
@tab-item-bg:					transparent;
@tab-item-bg-hover:				#eee;

@tab-container-bg:				#fff;
@tab-container-border-color: 	#b7b7b7;

		
@tab-body-padding:			5px 10px;
@tab-body-bg:					#fff;

/**
 * toolbar varilabels
 */
@toolbar-bg:				#F0F0F0;
@toolbar-padding:			2px;
