
@base-font-size:					12px;


@padding-block: 					6px;






@base-border-color:						#C9C9C9;
@base-border-type:						solid;		
@base-border-size:						1px;

@border-radius-base:							4px;
@border-radius-large:							6px;
@border-radius-small:       					3px;


@line-height-base:								1.428571429;



@grid-gap-between:								1.5%;
@grid-gap-columns:								1.5%;


@widget-padding:								6px;






/**
 * panels varilabels
 */

@panel-bg:							#fff;
@panel-brColor:						@base-border-color;
@panel-brSize:						1px;

@panel-body-padding:				10px;
@panel-body-brColor:				@panel-brColor;
@panel-body-bg:						#fff;


@panel-head-bg:          			@panel-bg;
@panel-head-brColor:	      		@panel-brColor;









/**
 * tabs varilabels
 */
@tab-position:			top;
@tab-brColor: 			@base-border-color;
@tab-bg:				transparent;

@tab-nav-padding:		5px;
@tab-nav-bg:			#f5f5f5;

@tab-item-padding:      5px 15px;
@tab-item-color:		#333;
@tab-item-brColor:		@tab-brColor;
@tab-item-font-family:	"WKoodak","comic sans ms";
@tab-item-font-size:	16px;

@tab-container-bg:		rgba(134, 147, 160, 0.11);
@tab-body-bg:			#fff;
@tab-body-border-color: @tab-brColor;		


/**
 * toolbar varilabels
 */
@toolbar-bg:				#F0F0F0;
@toolbar-padding:			2px;
