@font-face {
	font-family: "UserIcon";
	src:  url("user-icon.woff") format("woff");

	font-weight: normal;
	font-style: normal;
		    -moz-font-feature-settings: "calt=0,liga=0";
	   -webkit-font-feature-settings: "calt=0,liga=0";
}
[class^="user-icon-"], [class*=" user-icon-"]{

	font-family: UserIcon;
line-height:normal;
font-style: normal;
font-size: 40px;

}


.user-icon-boy10:before {
	content: "\e000";
}
.user-icon-boy5:before {
	content: "\e001";
}
.user-icon-boy6:before {
	content: "\e002";
}
.user-icon-boy7:before {
	content: "\e003";
}
.user-icon-boy8:before {
	content: "\e004";
}
.user-icon-boy9:before {
	content: "\e005";
}
.user-icon-boys:before {
	content: "\e006";
}
.user-icon-boys1:before {
	content: "\e007";
}
.user-icon-business25:before {
	content: "\e008";
}
.user-icon-business26:before {
	content: "\e009";
}
.user-icon-business27:before {
	content: "\e00a";
}
.user-icon-business28:before {
	content: "\e00b";
}
.user-icon-businessman11:before {
	content: "\e00c";
}
.user-icon-businessman12:before {
	content: "\e00d";
}
.user-icon-businessman13:before {
	content: "\e00e";
}
.user-icon-businessman14:before {
	content: "\e00f";
}
.user-icon-businessman15:before {
	content: "\e010";
}
.user-icon-businessman16:before {
	content: "\e011";
}
.user-icon-businessman17:before {
	content: "\e012";
}
.user-icon-businessman18:before {
	content: "\e013";
}
.user-icon-businessman19:before {
	content: "\e014";
}
.user-icon-businessman20:before {
	content: "\e015";
}
.user-icon-businessman21:before {
	content: "\e016";
}
.user-icon-businessman22:before {
	content: "\e017";
}
.user-icon-businessman23:before {
	content: "\e018";
}
.user-icon-businessman24:before {
	content: "\e019";
}
.user-icon-businessmen1:before {
	content: "\e01a";
}
.user-icon-businessmen2:before {
	content: "\e01b";
}
.user-icon-businessmen3:before {
	content: "\e01c";
}
.user-icon-call14:before {
	content: "\e01d";
}
.user-icon-couple33:before {
	content: "\e01e";
}
.user-icon-couple34:before {
	content: "\e01f";
}
.user-icon-female34:before {
	content: "\e020";
}
.user-icon-female35:before {
	content: "\e021";
}
.user-icon-female36:before {
	content: "\e022";
}
.user-icon-female37:before {
	content: "\e023";
}
.user-icon-female38:before {
	content: "\e024";
}
.user-icon-female39:before {
	content: "\e025";
}
.user-icon-female40:before {
	content: "\e026";
}
.user-icon-female41:before {
	content: "\e027";
}
.user-icon-female42:before {
	content: "\e028";
}
.user-icon-female43:before {
	content: "\e029";
}
.user-icon-female44:before {
	content: "\e02a";
}
.user-icon-female45:before {
	content: "\e02b";
}
.user-icon-female46:before {
	content: "\e02c";
}
.user-icon-female47:before {
	content: "\e02d";
}
.user-icon-female48:before {
	content: "\e02e";
}
.user-icon-female49:before {
	content: "\e02f";
}
.user-icon-female50:before {
	content: "\e030";
}
.user-icon-female51:before {
	content: "\e031";
}
.user-icon-female52:before {
	content: "\e032";
}
.user-icon-female53:before {
	content: "\e033";
}
.user-icon-female54:before {
	content: "\e034";
}
.user-icon-female55:before {
	content: "\e035";
}
.user-icon-female56:before {
	content: "\e036";
}
.user-icon-female57:before {
	content: "\e037";
}
.user-icon-female58:before {
	content: "\e038";
}
.user-icon-female59:before {
	content: "\e039";
}
.user-icon-female60:before {
	content: "\e03a";
}
.user-icon-female61:before {
	content: "\e03b";
}
.user-icon-female62:before {
	content: "\e03c";
}
.user-icon-female63:before {
	content: "\e03d";
}
.user-icon-girl10:before {
	content: "\e03e";
}
.user-icon-girl11:before {
	content: "\e03f";
}
.user-icon-girl7:before {
	content: "\e040";
}
.user-icon-girl8:before {
	content: "\e041";
}
.user-icon-girl9:before {
	content: "\e042";
}
.user-icon-girls:before {
	content: "\e043";
}
.user-icon-group38:before {
	content: "\e044";
}
.user-icon-group39:before {
	content: "\e045";
}
.user-icon-group40:before {
	content: "\e046";
}
.user-icon-heterosexual:before {
	content: "\e047";
}
.user-icon-hierarchy7:before {
	content: "\e048";
}
.user-icon-inheriting:before {
	content: "\e049";
}
.user-icon-male43:before {
	content: "\e04a";
}
.user-icon-male44:before {
	content: "\e04b";
}
.user-icon-male45:before {
	content: "\e04c";
}
.user-icon-male46:before {
	content: "\e04d";
}
.user-icon-male47:before {
	content: "\e04e";
}
.user-icon-male48:before {
	content: "\e04f";
}
.user-icon-male49:before {
	content: "\e050";
}
.user-icon-male50:before {
	content: "\e051";
}
.user-icon-male51:before {
	content: "\e052";
}
.user-icon-male52:before {
	content: "\e053";
}
.user-icon-male53:before {
	content: "\e054";
}
.user-icon-male54:before {
	content: "\e055";
}
.user-icon-male55:before {
	content: "\e056";
}
.user-icon-male56:before {
	content: "\e057";
}
.user-icon-male57:before {
	content: "\e058";
}
.user-icon-male58:before {
	content: "\e059";
}
.user-icon-male59:before {
	content: "\e05a";
}
.user-icon-male60:before {
	content: "\e05b";
}
.user-icon-male61:before {
	content: "\e05c";
}
.user-icon-male62:before {
	content: "\e05d";
}
.user-icon-male63:before {
	content: "\e05e";
}
.user-icon-male64:before {
	content: "\e05f";
}
.user-icon-male65:before {
	content: "\e060";
}
.user-icon-male66:before {
	content: "\e061";
}
.user-icon-male67:before {
	content: "\e062";
}
.user-icon-male68:before {
	content: "\e063";
}
.user-icon-male69:before {
	content: "\e064";
}
.user-icon-male70:before {
	content: "\e065";
}
.user-icon-male71:before {
	content: "\e066";
}
.user-icon-male72:before {
	content: "\e067";
}
.user-icon-male73:before {
	content: "\e068";
}
.user-icon-male74:before {
	content: "\e069";
}
.user-icon-male75:before {
	content: "\e06a";
}
.user-icon-male76:before {
	content: "\e06b";
}
.user-icon-male77:before {
	content: "\e06c";
}
.user-icon-male78:before {
	content: "\e06d";
}
.user-icon-male79:before {
	content: "\e06e";
}
.user-icon-males:before {
	content: "\e06f";
}
.user-icon-man108:before {
	content: "\e070";
}
.user-icon-man109:before {
	content: "\e071";
}
.user-icon-man110:before {
	content: "\e072";
}
.user-icon-man111:before {
	content: "\e073";
}
.user-icon-man112:before {
	content: "\e074";
}
.user-icon-man113:before {
	content: "\e075";
}
.user-icon-man114:before {
	content: "\e076";
}
.user-icon-man115:before {
	content: "\e077";
}
.user-icon-man116:before {
	content: "\e078";
}
.user-icon-man117:before {
	content: "\e079";
}
.user-icon-man118:before {
	content: "\e07a";
}
.user-icon-man119:before {
	content: "\e07b";
}
.user-icon-man120:before {
	content: "\e07c";
}
.user-icon-man121:before {
	content: "\e07d";
}
.user-icon-man122:before {
	content: "\e07e";
}
.user-icon-man123:before {
	content: "\e07f";
}
.user-icon-man124:before {
	content: "\e080";
}
.user-icon-man125:before {
	content: "\e081";
}
.user-icon-man126:before {
	content: "\e082";
}
.user-icon-man127:before {
	content: "\e083";
}
.user-icon-man128:before {
	content: "\e084";
}
.user-icon-man129:before {
	content: "\e085";
}
.user-icon-man130:before {
	content: "\e086";
}
.user-icon-man131:before {
	content: "\e087";
}
.user-icon-man132:before {
	content: "\e088";
}
.user-icon-men3:before {
	content: "\e089";
}
.user-icon-men4:before {
	content: "\e08a";
}
.user-icon-men5:before {
	content: "\e08b";
}
.user-icon-men6:before {
	content: "\e08c";
}
.user-icon-men7:before {
	content: "\e08d";
}
.user-icon-people18:before {
	content: "\e08e";
}
.user-icon-school14:before {
	content: "\e08f";
}
.user-icon-school15:before {
	content: "\e090";
}
.user-icon-school16:before {
	content: "\e091";
}
.user-icon-school17:before {
	content: "\e092";
}
.user-icon-school18:before {
	content: "\e093";
}
.user-icon-school19:before {
	content: "\e094";
}
.user-icon-school20:before {
	content: "\e095";
}
.user-icon-school21:before {
	content: "\e096";
}
.user-icon-school22:before {
	content: "\e097";
}
.user-icon-searching15:before {
	content: "\e098";
}
.user-icon-searching16:before {
	content: "\e099";
}
.user-icon-social105:before {
	content: "\e09a";
}
.user-icon-speaker33:before {
	content: "\e09b";
}
.user-icon-user67:before {
	content: "\e09c";
}
.user-icon-user68:before {
	content: "\e09d";
}
.user-icon-user69:before {
	content: "\e09e";
}
.user-icon-user70:before {
	content: "\e09f";
}
.user-icon-user71:before {
	content: "\e0a0";
}
.user-icon-user72:before {
	content: "\e0a1";
}
.user-icon-users3:before {
	content: "\e0a2";
}
.user-icon-woman23:before {
	content: "\e0a3";
}
.user-icon-woman24:before {
	content: "\e0a4";
}
.user-icon-woman25:before {
	content: "\e0a5";
}
.user-icon-woman26:before {
	content: "\e0a6";
}
.user-icon-woman27:before {
	content: "\e0a7";
}
.user-icon-woman28:before {
	content: "\e0a8";
}
.user-icon-woman29:before {
	content: "\e0a9";
}
.user-icon-woman30:before {
	content: "\e0aa";
}
.user-icon-woman31:before {
	content: "\e0ab";
}
.user-icon-woman32:before {
	content: "\e0ac";
}
.user-icon-woman33:before {
	content: "\e0ad";
}
.user-icon-woman34:before {
	content: "\e0ae";
}
.user-icon-woman35:before {
	content: "\e0af";
}
.user-icon-woman36:before {
	content: "\e0b0";
}
.user-icon-woman37:before {
	content: "\e0b1";
}
.user-icon-woman38:before {
	content: "\e0b2";
}
.user-icon-woman39:before {
	content: "\e0b3";
}
.user-icon-woman40:before {
	content: "\e0b4";
}
.user-icon-woman41:before {
	content: "\e0b5";
}
.user-icon-woman42:before {
	content: "\e0b6";
}
.user-icon-woman43:before {
	content: "\e0b7";
}
.user-icon-woman44:before {
	content: "\e0b8";
}
.user-icon-woman45:before {
	content: "\e0b9";
}
.user-icon-woman46:before {
	content: "\e0ba";
}
.user-icon-woman47:before {
	content: "\e0bb";
}
.user-icon-woman48:before {
	content: "\e0bc";
}
.user-icon-woman49:before {
	content: "\e0bd";
}
.user-icon-woman50:before {
	content: "\e0be";
}
.user-icon-woman51:before {
	content: "\e0bf";
}
.user-icon-women2:before {
	content: "\e0c0";
}
.user-icon-women3:before {
	content: "\e0c1";
}
.user-icon-women4:before {
	content: "\e0c2";
}
.user-icon-women5:before {
	content: "\e0c3";
}
.user-icon-young4:before {
	content: "\e0c4";
}
.user-icon-young5:before {
	content: "\e0c5";
}
.user-icon-young6:before {
	content: "\e0c6";
}
.user-icon-young7:before {
	content: "\e0c7";
}
