.rita-viewport{
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}
/**
 * shadow class
 */
.boxShadow-sm{ box-shadow:0 0 3px -1px #aaa !important; }
.boxShadow{	box-shadow:0 0 6px -1px #aaa !important; }
.boxShadow-lg{ 	box-shadow:0 0 9px -1px #aaa !important; }

/**
 * border radius class
 */
.brCorner{ .br-radius(@border-radius-base) !important; }
.brCorner-sm { 	.br-radius(@border-radius-small) !important; }
.brCorner-lg { .br-radius(@border-radius-large) !important; }

/**
 * text align
 */
.text-right{ text-align: right!important; }
.text-center{ text-align: center!important;}
.text-left{ text-align: left!important; }

/**
 * text wrap
 */
.text-wrap{ .text-wrap();}
.text-nowrap{ .text-nowrap();}

/**
 * padding class
 */
.padding-none{ 	padding: 0px!important; }
.padding-sm{ padding: 15px!important; }
.padding-lg{ padding: 30px!important; }

/**
 * margin class
 */
.margin-none{ margin: 0px!important; }

/**
 * border class
 */
.border-none{
	border-left: none!important;
	border-right: none!important;
	border-top: none!important;
	border-bottom: none!important;
}

/**
 * background class
 */
.bg-none{
	background: transparent !important;
	
}

/**
 *  box & flex
 */
 
.fluid-none{
	display: block !important;
}

.box-nofluid { 
	.flex(0,0,auto) !important;  
}


.box-fluid{
	.flex(1) 
}

.bc-visible{
	overflow: visible !important;
}

.bc-hidden{
	overflow: hidden !important;
}

.bc-auto{
	overflow: auto !important;
}


.inherited{
	.flex-inherit();
}


