




.no-padding{
	padding: 0px!important;
}
.no-margin{
	margin: 0px!important;
}
.no-border{
	border-left: none!important;
	border-right: none!important;
	border-top: none!important;
	border-bottom: none!important;
}


.no-bg{
	background: transparent !important;
}


/* Text Algins */
.tx-left { text-align: left; }
.tx-center { text-align: center; }
.tx-right { text-align: right;}


/* Efects */


.wrap {
  text-wrap: wrap;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

/****************************************************************************************/



.c-splitter-row{
  height: 6px;
 .background_gradient(#F1F1F1,#D8D8D8);
  border-color: #bbb;
  border-style: solid;
  border-bottom-width: 1px;
  border-left: none;
  border-right: none;
  
  &.flat{
  	 background: #D8D8D8  !important;
  }
}
.c-splitter-col{
	width:10px;
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;	
   
   .linear-gradient(#F1F1F1, #D8D8D8, 0, 100%, 90deg);
}
.c-splitter-col2{
	width:20px;
}