
.com-form{
	padding: 0px;
	position: relative;
    background-color: #fafafa;
    
	 .form-col{
	 	.flex(1,1,0);
		.flex-box();
		.flex-col();
		.flex-wrap();
        position: realtive;
  		border-bottom: 1px solid #ddd;
		
		.com-input{
            border-left:1px solid #fff;
            border-right: 1px solid #ddd;
            border-bottom: none;
            
     		
           
			
			&:first-child{
				border-right : none;
			}
			&:last-child{
				border-left : none;
			
			}
		}
		
	}
	
	  .com-input:last-child,
	  .form-col:last-child{
		border-bottom:none;
	}
	
	

}



.form-bg-none .com-input{
		background-color: none;
		border-top: none ;
}


.com-input {		

       background-color: #f7f7f7;
            border-top:1px solid #fff;
            border-bottom: 1px solid #ddd;
            position: relative;
            .flex(1,1,0);	
            
            	
	&.required .input-container > label:after {
		color: #e32;
		content: '*';
		padding: 5px;
	}	

	&.error .input-container{
		border-right: 10px solid #DC0000;
	}
	.error-message{
        position: absolute;
        border: 2px solid #e67e22;
        background-color: rgba(255, 243, 224, 0.95);
        font-family: wiraniansans;
        font-weight: 300;
        font-size: 17px;
        color:#2D339C;
        
        text-shadow: 0 0 3px #c5c5c5;
        z-index: 5;
        padding: 5px 15px;
        box-shadow: 2px 2px 2px 0px #C9C9C9;
        border-radius: 6px;
        .text-wrap();
        position: absolute;
        display: none;
		
		&:before{
			border-bottom: 13px solid #e67e22;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			content: " ";
			height: 0;
			left: 13px;
			position: absolute;
			top: -13px;
			width: 0;							
			
		}
		
		&:hover{
			cursor: pointer;
		}
	}		
}
	
.com-input > .input-container{ 
	.flex-box();
	.flex-col();
	.flex-wrap();
	.flex(1);
	padding: 10px;
	border-right: 10px solid transparent;
	border-bottom: none	;		
	border-top: none;
	text-align: right;	
	position: relative;
    
	
	> label{
		color: #222;
		font-family: Wirans,Fira Sans;
		font-size: 14px;
		font-weight: normal;
		text-shadow: 1px 1px 1px #c9c9c9;
		min-width: 130px;
		.text-nowrap();				
	}
	
	> input,
	> textarea,
	> select{
		
		border: 1px solid #bbb;
		border-radius: 0px;
	    position: relative;   
        font-size: 16px;	
        font-family: wiraniansans,Fira Sans;
		color: #555;
		box-shadow: 1px 1px 3px 0px #DCDCDC inset;
		background-color: #fdfdfd;
		background-clip: padding-box;
		
		&:focus{
			box-shadow:  0px 0px 2px 0px #DCDCDC inset;
			background-color: white;	
		}	 
	}

    > .dateSelect{ 
    	.flex(1);
    	.flex-box();
        .flex-col();
	
        select{
		
            border: 1px solid #bbb;
            border-radius: 3px;
            color: #555;
            box-shadow: 0px 0px 5px 0px #DCDCDC inset;
            background-color: #fdfdfd;
            background-clip: padding-box;
		> option {
		  	   
		}
		&:focus{
			box-shadow:  0px 0px 2px 0px #DCDCDC inset;
			background-color: white;	
		}	 
	}    
	}
	> input[type='text'],
	> input[type='email'],
	> input[type='password'],
	> textarea{
		padding: 5px 10px;
		flex:1;
	}
	
	> input[type='checkbox']{
		//margin: 0 20px;
	}
	select {
		option{
			padding:5px 10px;
			font-size: 14px;
		}
		
	}
		 
}


// vertical
.form-v .com-input,
.com-input.form-v{
	.input-container {
			.flex-row();
			padding-right: 0px;
            
	}
	&.error .input-container{
		padding-right: 10px !important;
	}
	.input-container > label{
		
		padding: 0 20px;
		padding-bottom: 2px;
        text-align: right !important;
	}
	
	.error-message {
		top: auto !important;
		right : 3% !important;
		display: block;
        position: absolute;
        left: 30% !important;
		&:before{
			//top: auto;
		}
	}
	input,
	textarea{
			
	}
	
	select{
		padding: 4px;
	
	}
}	



.com-input.checkbox > .input-container{
	align-items: center;
}

div.submit{
	display: inline-block;
    
    
}

.com-form  .group-inputs{
	border: 1px solid #C4C4C4; 
    box-shadow:0px 2px 2px -1px rgba(0, 0, 0, 0.15);
}

.group-inputs + .group-inputs{
    margin-top: @padding-block;
    
}