/**
 *  grid with table /support fluid with/height- nestet - border spiliter 
 */
.com-gridTable{

	display: table;
	width: 100% ;
	table-layout:  fixed;
	position: relative;
	overflow:auto;
	
	
	
	& + &{
		margin-top: @grid-gap-between;	
	}	
	
	&.opt-autoHeight{
		height: 100%;
	}

	>.grid-col{
		display: table-cell;
		width: auto;
		padding-right: @grid-gap-columns;
		padding-left: @grid-gap-columns;
		vertical-align: top;
		&.valign-{
			
			&top{
				vertical-align: top;
			}
			&center{
				vertical-align: middle;
			}
			&bottom{
				vertical-align: bottom;
			}
			&baseline{
				vertical-align: baseline;
			}
		}
	}
	
	
	&.opt-border > .grid-col{
		 .br-right();
	}


	&.opt-border > .grid-col:first-child {
  		border-right: none ;
	}		
}
	

.grid-col{
		&.grid1 {
		    width: 8.33%;
		}
		&.grid2 {
		    width: 16.6%;
		}
		&.grid3 {
		    width: 25%;
		}
		&.grid4 {
		    width: 33.33%;
		}
		&.grid5 {
		    width: 41.66%;
		}
		&.grid6 {
		    width: 50%;
		}
		&.grid7 {
		    width: 58.33%;
		}
		&.grid8 {
		    width: 66.66%;
		}
		&.grid9 {
		    width: 75%;
		}
		&.grid10 {
		    width: 83.33%;
		}
		&.grid11 {
		    width: 91.66%;
		}
		&.grid12 {
		    width: 100%;
		}
}

.com-gridTable > .grid-col:only-child {
	padding: 0px;
	border-right:none
}


.grid-col > .com-gridTable > .grid-col:first-child{
	padding-left: @grid-gap-columns;
	border-right:none;
}
.grid-col > .com-gridTable > .grid-col:last-child{
	padding-right: @grid-gap-columns;
}

.grid-col > .com-gridTable:only-child > .grid-col:first-child{
	padding-right: 0px;
}
.grid-col > .com-gridTable:only-child > .grid-col:last-child{
	padding-left: 0px;
}

.com-gridTable > .com-gridTable .grid-col:first-child{
	border-right: none;
}



/**
 * grid flex
 */
 
 
 
.com-grid-flex{

 	display: flex;
    flex-direction: row;
	flex-wrap:wrap;
    flex:1 1 0%;
    	 		
	> * {
		flex:1 1 0%;
		background-clip: content-box;
		color: #222;
		padding: 0 1rem 1rem 1rem;
		//padding: 10px;
	
	
	}
    
    
    >.layout-cell:first-child{ padding-right: 0px;}
    >.layout-cell:last-child{ padding-left: 0px;}
    
    

		.grid1 {
		    flex: 1 1  8.33%;
		}
		.grid2 {
		    flex: 1 1  16.6%;
		}
		.grid3 {
		    flex: 1 1  25%;
		}
		.grid4 {
		    flex: 1 1  33.33%;
		}
		.grid5 {
		    flex: 1 1  41.66%;
		}
		.grid6 {
		    flex: 1 1  50%;
		}
		.grid7 {
		    flex: 1 1  58.33%;
		}
		.grid8 {
		    flex: 1 1  66.66%;
		}
		.grid9 {
		    flex: 1 1  75%;
		}
		.grid10 {
		    flex: 1 1  83.33%;
		}
		.grid11 {
		    flex: 1 1  91.66%;
		}
		.grid12 {
		    flex: 1 1  100%;
		}	
}
