.com-layout{
	.flex-box();
	position: relative;
	//	overflow: -moz-hidden-unscrollable;	

	&.typ-row{
	 	 flex-flow: column nowrap;
	}
	
	
	&.typ-col{
		 flex-flow: row nowrap;
	}

	.fluid{
 		flex:1;

	}
	

}



	

.typ-col, .typ-row {
	&.opt-childs-fluid-fix{
	   > * {
	   	.flex(1,1,0);
		}		
	}

	&.opt-childs-fluid-auto{
	   > * {
	   	.flex(1,1,auto);
		}		
	}
	
	> *:not(script) {
		position: relative;
	}
}




.com-layout-columns{

 	display: flex;
    flex-direction: row;
	flex-wrap:wrap;
	 		
	> .layout-cell {
		flex:1;
		background-clip: content-box;
		color: #222;
		padding: 1rem 1rem ;
		//padding: 10px;
	
	
	}

	&.col1 > .layout-cell{
	    flex: 0 0 100%;
	}
		
	&.col2 > .layout-cell{
	    flex: 0 0 50%;
	}
	
	&.col3 > .layout-cell{
	    flex: 0 0 33.33%;
	}
	
	&.col4 > .layout-cell{
		flex: 0 0 25%;
	}

	&.col5 > .layout-cell{
		flex: 0 0 20%;
	}

	&.col6 > .layout-cell{
		flex: 0 0 16.66%;
	}	
}