@import  (reference) "/bundles/panel.less";


.panel-body [class^="body-"]{
	.br-top(1px,solid,@panel-brColor) !important;
	.wid-3d();
}

.panel-body [class^="body-"]:first-child{
	border-top: none !important;
}

/************************************
 *  panels widget
 ************************************/
.wid-panel-box{
	.br();
	background-color: @panel-bg;
	overflow: hidden;
	padding: @panel-body-padding;
	background-clip: padding-box; 
	.error &{
		background: red;
	}
}



/************************************
 *  panel widget
 ************************************/
.wid-panel{
	/*  vars block */
	@dark: false;
	
	/*  main block */
	#Panels > .panel;
			
	
	/*  child block */
	
	> .panel-header{
		#Panels > .header();
	}
	
	> .panel-body{
		#Panels > .body;
	}
}


/************************************
 *  panel border widget
 ************************************/
.wid-panel-border {
	/*  vars block */
	@dark: true;
	@panel-bg:  rgba(134, 147, 160, 0.11);
	@panel-brColor: #bbb;
	
	/*  main block */
	#Panels > .panel;
		background: @panel-bg;
		.br(1px, solid,@panel-brColor);	
	
	/*  child block */
	
	> .panel-header{
		#Panels > .header();
		
	}
	
	> .panel-body{
		#Panels > .body;
		margin: 6px;
		.br(1px, solid,@panel-brColor);
		box-shadow: 0 0 1px #fff;
	}
	
}


/************************************
 *  panel framed widget
 ************************************/
.wid-panel-framed {
	/*  vars block */
	@dark: true;
	@panel-bg: #E2E2E2;
	@panel-brColor: #bbb;
	
	/*  main block */
	#Panels > .panel();
	.br(1px, solid,@panel-brColor);
	background-color: @panel-bg;	
	
	/*  child block */
	
	> .panel-header{
		#Panels > .header();
		border: none;
	}
	
	> .panel-body{
		#Panels > .body;
		.br(1px, solid,@panel-brColor);
	//	box-shadow: 0px 0px 1px 0px #ccc;
		margin: 6px;
	}
	
	> .panel-header+.panel-body{
		margin-top: 0px;
	}
}

