[class^="wid-"]+[class^="wid-"]{
	margin-top: 20px;
	
}



[class$="-body"] > [class^="wid-"]{
	border: none ;
	
} 


.body{
	
	
	&-header{
		
		background: @toolbar-bg;
		overflow: hidden;
		position: relative;
		padding: 10px 20px;
		.wid-3d();
	//	.br(1px,solid,#fff);
		.br-bottom(1px,solid,@panel-brColor);
	
		
	}
	&-container{
		padding: @padding-block;
		box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3) inset !important;
		position: relative;

		.flex-box();
		.flex-row();
		p{
			margin: 5px 0px;
		}
	}
	&-footer{
		.br-top(1px,solid,@panel-brColor) !important;
		background: @toolbar-bg;
			.wid-3d();
		overflow: hidden;
		position: relative;
		padding: 10px 20px;
	}	
}



.parentInherit{
	display: inherit !important;
	flex-direction: inherit !important;
    flex: 1 1 auto ;
    min-width: min-content; 	
}
