
.wid-tab{ 
	#Tab > .tab();
}
	
		
.wid-tab > .tab-nav{
		#Tab > .tab-nav();
}		
.wid-tab > .tab-nav	> li {
			#Tab > .tab-item();	
}			
.wid-tab > .tab-nav	> li > a{
	#Tab > .tab-item-link();
}


.wid-tab > .tab-container{
		
		height: 200px;


			
}



//
//.wid-tab.typ{
//	
//	&-top{
//		
//		> .tab-nav {
//				 	
//			padding-top: 5px ;
//			padding-right: 10px;
//			.border-bottom(1px, solid, @tab-brColor);
//			   background: none repeat scroll 0 0 #f5f5f5;
//    border: 1px solid #ccc;
//			
//			> li {
//				    margin-bottom: -1px;
//			}
//			> li > a{
//				.border(1px, solid, @tab-brColor);
//				padding : @tab-nav-padding;
//				margin-bottom: -1px;
//				   background-color: #f0f0f0 ;
//    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.1) 100%);
//    border-color: #cfcfcf;
//			}	
//		}
//		
//		
//		
//		
//	}
//}
//















 
#Tab {
	
	.tab(){
		overflow: hidden;
		position: relative;
		.flex-box();
		.flex-row();
		.border(1px, solid,@tab-brColor);
	}
	

	.tab-nav(){
		list-style:none;
		position: relative;
		background: @tab-nav-bg;
		padding: @tab-nav-padding;
		.border-bottom(1px, solid, @tab-brColor);	
		.flex(1);
		.flex-box();
		.flex-col();
	}	
	
	
	.tab-item(){
		position: relative;
		z-index: 10;
		//overflow: hidden;
		margin-left:2px;
		margin-bottom: -1px;
		&.active{
			> a{
				//	border-bottom: 1px solid red;
				background: white !important;
				.border(1px, solid, @tab-item-brColor);
			}
		}
		
		&:hover > a{
			
			background-color: #ddd;	
		}
	}
	
	
	.tab-item-link(){
		position: relative;
		.flex-box();
		color: @tab-item-color ;
		padding : @tab-item-padding;
		

		margin-bottom: -1px;
		//background-color: #f0f0f0 ;
	    //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.1) 100%);
    	
	}

	
	.tab-container(){
		padding: 10px;
		background-clip: content-box-box;
		background-color: #fefefe;
		
	}	
	
	.tab-body(){
	
	}
}