@import  (reference) "/bundles/tab.less";



.wid-tab{ 
	#Tab > .tab();
}
	

		
.wid-tab > .tab-nav{
	#Tab > .tab-nav();

}		
.wid-tab > .tab-nav	> li {
	#Tab > .tab-item();	
}			
.wid-tab > .tab-nav	> li > a{
	#Tab > .tab-item-link();
}


.wid-tab > .tab-container{
	 #Tab > .tab-container();
	 
	
}		

.wid-tab > .tab-container > .tab-body{
	 #Tab > .tab-body();	
}



.wid-tab.typ{
	
&-top{
	.flex-row();
		
	>.tab-nav{
		padding-bottom: 0px;
		padding-top: 5px;
		.flex-order(0);
		.br-bottom(1px, solid, @tab-brColor);
	}
	
	li {
		margin-bottom: -1px;
		padding-bottom: 0px;
	}

	li.active {
		border-bottom-color: @tab-container-bg;
	}
		
	li a {
		.br-radius(6px,0px);
    	border-bottom: none;
    	
	}
	
	li:not(.active):hover > a{
		border-bottom: none;
	}
	
	li.active a{
		border-bottom: none;
	}
	
	.tab-container{
		.flex-order(1);	
		.flex(1);	
	}
	.tab-body.active{
		display: block;
		width: 100%;
		
		overflow: auto;
	}	
}	


&-bottom{
	.flex-row();
	
	>.tab-nav{
		padding-bottom: 5px;
		padding-top: 0px;
		.flex-order(1);
		.br-top(1px, solid, @tab-brColor);
	}
	
	li {
		margin-top: -1px;
		padding-top: 0px;
	}

	li.active {
		border-top-color: @tab-container-bg;
	}

	
	li a {
		.br-radius(0px,6px);
		border-top: none;
    
	}
	
	li:not(.active):hover > a{
		border-top: none;
	}
		
	li.active a{
			border-top: none;
	}
	
	
	.tab-container{
		.flex-order(0);	
		.flex(1);	
	}
	.tab-body.active{
		display: block;
		width: 100%;
		
		overflow: auto;
	}	

	
}

/**
 * 
 */

&-right{
	.flex-col();
	
	
	>.tab-nav{
		padding-left: 0px;
		padding-right: 10px;
		.flex-order(0);
		.br-left(1px, solid, @tab-brColor);
		.flex-row();

	}
	
	li {
		
		margin-left: -1px;
		padding-left: 0px;
		
	}
	
	li.active {
		border-left-color: @tab-container-bg;
	}

	
	li a {
		.br-radius(0px,6px,6px,0);
		border-left: none;

	}
	
	li:not(.active):hover > a{
		border-left: none;
	}
	
	li.active a{
		border-left: none;
	}
	
	.tab-container{
		.flex-order(1);
		.flex-row();

	}
	.tab-body.active{
		display: block;
		flex:1 1 0;

	}	

	
}

/**
 * 
 */

&-left{
	.flex-col();
	
	
	>.tab-nav{
		padding-left:5px;
		padding-right: 0px;
		.flex-order(1);
		.br-right(1px, solid, @tab-brColor);
		.flex-row();

	}
	
	li {
		margin-right: -1px;
		padding-right: 0px;
	}

	li.active {
		border-right-color: @tab-container-bg;
	}
	
	li a {
		.br-radius(6px,0px,0px,6px);
		border-right: 0px;
 
	}
	
	li:not(.active):hover > a{
		border-right: 0px;
	}
	
	li.active a{
		border-right: 0px;
	}
	
	.tab-container{
		.flex-order(0);
		.flex-row();

	}
	.tab-body.active{
		display: block;
		flex:1 1 0;
		
	}	

	
}

}
