
.opacity(@opacity: 50) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

.transition(@range: all, @time: 0.2s, @ease: ease-in-out) {
	transition: @range @time @ease;
}

/*Transformations*/
.skew(@angle_x:35, @angle_y:0) {
	
	transform: skew(formatstring("{0}deg", @angle_x), formatstring("{0}deg", @angle_y));
}

.scale(@scale_x: 1){
	transform: scale(@scale_x);
}

.rotate(@deg:35deg){
	transform: rotate(@deg);
}



.translate(@x:0, @y:0) {
  transform: translate(@x, @y);
}


