<div class="demo-title">
	button's demo

</div>

<div class="wid-panel-framed">
	<header class="panel-header">
		<div class="header-icon"><i class="user-boy1"></i></div>
		<div class="header-caption">گروه ها</div>
	</header>

	<div class="panel-body">

		<div class="body-container">
			<p>
				<a class="btn btn-action"><i class=" icon-createfile"></i>ایجاد</a>
				<a class="btn btn-caution"><i class=" icon-deletefile"></i>حذف</a>
				<a class="btn btn-highlight"><i class=" icon-editalt"></i>ویرایش</a>
				<a class="btn btn-primary"><i class=" icon-circleforward"></i>بعدی</a>
				<a class="btn btn-royal"><i class=" icon-circleforward"></i>بعدی</a>
				<a class="btn"><i class=" icon-circleforward"></i>بعدی</a>
			</p>
			<p class="btn-wrap">
				<a class="btn btn-3d "><i class=" icon-createfile"></i>ایجاد</a>
				<a class="btn btn-border"><i class=" icon-deletefile"></i>حذف</a>
				<a class="btn btn-flat btn-caution "><i class=" icon-editalt"></i>ویرایش</a>
				<a class="btn btn-circle"><i class=" icon-circleforward"></i>بعدی</a>
				<a class="btn btn-pill"><i class=" icon-circleforward"></i>بعدی</a>
			</p>
			<p>
				<a class="btn"><i class=" icon-createfile"></i>ایجاد</a>
				<a class="btn"><i class=" icon-deletefile"></i>حذف</a>
				<a class="btn"><i class=" icon-editalt"></i>ویرایش</a>
				<a class="btn"><i class=" icon-circleforward"></i>بعدی</a>
			</p>			
		</div>
		<div class="body-footer">
			<p>
				<a class="btn btn-action"><i class=" icon-createfile"></i>ایجاد</a>
				<a class="btn btn-caution"><i class=" icon-deletefile"></i>حذف</a>
				<a class="btn btn-highlight"><i class=" icon-editalt"></i>ویرایش</a>
				<a class="btn btn-primary"><i class=" icon-circleforward"></i>بعدی</a>
				<a class="btn btn-royal"><i class=" icon-circleforward"></i>بعدی</a>
				<a class="btn btn-secondary"><i class=" icon-circleforward"></i>بعدی</a>
				<a class="btn btn-3d"><i class=" icon-circleforward"></i>بعدی</a>
			</p>
		
		</div>	
	</div>
</div>