doctype html
html(lang="fa", dir="rtl")
  head
    title= pageTitle
    link(href="../rita.css", rel="stylesheet", type="text/css")
    link(href="css/demo.css", rel="stylesheet", type="text/css")
  body
    
    #container(class="rita-viewport")
        header
            img(src="img/rita-logo-w.png")
        #content.
            sss
        footer.
            hello