.ui-box{

  border: none;
  position: relative;
  border: 1px solid @panel-brColor;
  .flex-box();
  .flex-row();  



    
    >.box-caption{
        //background-color: rgba(55, 66, 74, 0.43);
       .bg-linear-gradient(#c1c1c1,#e7e7e7);
       
        border-bottom: 1px solid @panel-brColor;
        padding:8px 10px;
        color: #323A42;
        font-family: wamer;
        font-size: 14px;
        line-height: 1;
        position: relative;
        flex: 0 0 auto;
        display: block;
        overflow: hidden;
       &:before{
                content:'\f3c6';
                font-family: "WebHostingHub-Glyphs" !important;
                position: relative;
                top: 1px;
                color: #323A42;
                margin-left: 5px;
            }     
       
       &.box-caption--3d{
    	background-image: linear-gradient(to bottom, @panel-head-bg-gradient-strat, @panel-head-bg-gradient-end);
        
       } 
    }
    
    >.box-body{
        padding: 6px;
        background-color: #FFFFFF;
        color: #666;
        font-family: wnazanin;
        font-size: 16px;
        line-height: 1;
        .flex(1);
    }

}

.padding-none > .ui-box{
    border-width: 0 0 0px 0;
    .wid-3d();
}

.ui-box+.ui-box{
    margin-top: 5px;
}

.padding-none > .ui-box+.ui-box{
    margin: 0px;

}


