.ui-box{
  box-shadow: 0 1px 2px #c3c3c3;
  border: none;
  position: relative;
  border: 1px solid #bbb;
    

}


.box-caption{
    background-color: @panel-head-bg;
	background-image: linear-gradient(to bottom, @panel-head-bg-gradient-strat, @panel-head-bg-gradient-end);
    border-bottom: 1px solid #bbb;
    padding:8px 10px;
    color: #000;
    font-family: wamer;
    font-size: 14px;
    line-height: 1;
    position: relative;
    display: block;
    overflow: hidden;
    &:before{
        content:'\f3c6';
        font-family: "WebHostingHub-Glyphs" !important;
        position: relative;
        top: 1px;
        color: #595959;
        margin-left: 5px;
    }
    
}
.box-body{
  padding: 6px;
  background-color: #FFFFFF;
  color: #666;
  font-family: wyekan;
font-size: 15px;
line-height: 1;
  
}


.padding-none > .ui-box{
    border-width: 0 0 1px 0;
    .wid-3d();
}

.ui-box+.ui-box{
    margin-top: 5px;
}

.padding-none > .ui-box+.ui-box{
    margin: 0px;

}


