.ui-panel{

	background-color: #FFFFFF;
	

	
    .br-radius(@border-radius-small);
	position: relative;
	overflow: hidden;
	box-shadow:  @panel-shadow-box;
      
	.flex-box();
	.flex-row();
	
	
}

.panel-header{
		user-select:none;
		padding: 0px 10px;	
        overflow: hidden;
		position: relative;
		box-shadow: 0 1px 0 #FFFFFF inset;
		border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        
		height: 45px;
		.flex-box();
		.flex-col();
		align-items : stretch;	
		
		
		.header-icon, .header-caption, .header-helpers  {
			align-self:center;
			flex:0;
		}
		
		.header-icon{
			padding: 0px 10px;
			order:1;
			i{
				font-size: 18px;
				color: #666;
			}
			
		}
        
        .header-icon:empty {
            //content: "<i class=\"icon-windows\"></i>";
            padding: 10px;
        }
		.header-caption{
			flex:1;
			order:2;
			font-family: @panel-head-font-name;
			font-style: normal;
			font-size: @panel-head-font-size;
                 border-top-left-radius: inherit;
         border-top-right-radius: inherit;
			color: #333;
			text-shadow: 1px 1px 1px #999;
            position: relative;
            overflow: hidden;
		}
		.header-helpers{
			order:3;
			.flex-box();
			.flex-col();

			> *{
				.br(1px, solid,#777272);
				padding: 2px 4px;
				overflow: hidden;
				box-shadow: 0 0 1px #707070 inset;
				background-color: white;
				margin: 0px 2px;
				text-align: center;
				align-self: center;
		 	    .br-radius(@border-radius-small);
				cursor: pointer;
				> i{
					text-align: center;
					position: relative;
				}
			}			
		}
}	   

/**
 * .panel-header style
 */
.panel-header{
    background-color: @panel-head-bg-gradient-strat;
	&.bg-3d{
		
		background-image: linear-gradient(to bottom, @panel-head-bg-gradient-strat, @panel-head-bg-gradient-end);
	
	}
	
}


.panel-body{
		

		position: relative;
		.flex(1,1,0%);
		.flex-box();
		.flex-row();

	//	overflow: auto;	
}

.panel-body.type-col{
	.flex-col() !important;
}



/**
 * .ui-panel
 */
 
.ui-panel > .panel-body{
    padding: @padding-block;
} 



/**
 * .ui-panel-framed
 */
.ui-panel-framed:extend(.ui-panel){
	@panel-bg: #dadada;
	
    .br-radius(@border-radius-base);
	.br(1px, solid,@panel-brColor);
	background-color: @panel-bg;
					  

	
	
	
	> .panel-header{
		.panel-header.bg-3d;	
	}
	 	
	
	> .panel-body{
		margin: @panel-body-padding+1;
		background-color: @panel-body-bg;
		.br(1px, solid,@panel-brColor);
		
		
		
	}
	
	
	.panel-header+.panel-body{
		margin-top: 0;
	}	
}

/**
 * 
 */
.ui-panel-border:extend(.ui-panel){}
.ui-panel-border{
	@panel-bg:  #e5e6ea;
	.br-radius(@border-radius-base);
	
    	.br(1px, solid,@panel-brColor);

	> .panel-header{
		.br-bottom(1px, solid,@panel-brColor);
    	.panel-header.bg-3d;
	}	

	> .panel-body{
	   background-color: @panel-body-bg;
		padding :@panel-body-padding;
		border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        
            .body-footer{
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
            }
		
		//.br(1px, solid,@panel-brColor);
	}
	> .panel-body > .body-container{
	   box-shadow: none !important;
	}        
	.panel-header+.panel-body{

	}		
    
    
}
