[class^="ui-"]+[class^="ui-"]{
	margin-top: 20px;
	
}



.body-container.padding-none > [class^="ui-"]{
	border: none ;
	
} 
/**
 * 
 */
.body-header{
		background: @toolbar-bg;
		position: relative;
		padding: 10px 20px;
		.wid-3d();
		
		.flex(0 ,0 ,auto);
		.flex-order(1);
	}
/**
 * 
 */
.body-leftSide{
		background: @toolbar-bg;
		position: relative;
		padding: 10px 20px;
		.wid-3d();
		
		.flex(0 ,0 ,auto);
		.flex-order(1);
}	

/**
 * 
 */
.body-container{
		padding: @padding-block;
		.flex-box();
        .flex-row();
		position: relative;
		white-space: normal;
		//overflow: auto;
		.flex(1);
		.flex-order(3);
		p{
			margin: 5px 0px;
		}
		
    &.shadow{
        box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5) inset !important;
    }
}

/**
 * 
 */
.body-footer{
	
		background: @toolbar-bg;
		.wid-3d();
		.flex-order(5);
		position: relative;
		padding: 10px 20px;
		.flex(0 ,0 ,auto);

        
        >.btn{
            box-shadow: 2px 2px 1px #ccc !important;
            
            &:focus{
                box-shadow: inset 2px 2px 1px #ccc !important;
            }
        }
}
	
/**
 * 
 */
.body-container.container--layout-splitter{
//    overflow: hidden !important;
	position: relative;
    background-color: #ECECEC;
    padding: 10px;
    .flex-col();    
    
    > .layout-cell,
    > .layout-box{
        .flex-box();
        .flex-row() ;
          flex: 1 1 0%;
    }
        
    > .layout-box{
        padding: @padding-block;
        border: 1px solid @panel-brColor;
        background-color: #fff;
    }
        
     >.layout-cell +  .layout-cell,
     >.layout-box +  .layout-box,
     >.layout-box +  .layout-cell,
     >.layout-cell +  .layout-box,
     {
        margin-right: 10px;
     }
     
     

     
     
   .layout-box .box-splitter{
        border-bottom: 1px solid @panel-brColor;
        border-top: 1px solid @panel-brColor;
         
         .bg-linear-gradient(@color1:#c7c7c7, @color2:#f5f5f5, @stop1:0, @stop2:100%, @deg:180deg);
        background-color: #eee;
        height: 10px;

   }
}

.container--layout-splitter.flex--row{
    
    .flex-row();
    
    
      >.layout-cell +  .layout-cell,
     >.layout-box +  .layout-box,
     >.layout-box +  .layout-cell,
     >.layout-cell +  .layout-box,
     {
            margin-top: 10px;
             margin-right: 0px;
     }   
}

.ui-panel-border .body-container.container--layout-splitter{
    	background-color: #d0d0d0;
        padding: 8px;
}



.body-header+[class^="body-"],
.body-header+[class^="wid-"]{
	.br-top(1px,solid,@panel-brColor);	
}

[class^="body-"]+.body-footer,
[class^="wid-"]+.body-footer,
 {
		.br-top(1px,solid,@panel-brColor) !important;
}



.body-splitter{
  border-color: @panel-brColor;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  background-color: #dadada;
  height: 8px;
  margin-left: -1px;
  margin-right: -1px;	
	
				.flex(0,1,auto);
                
}

.body-header+.body-splitter{
    	.flex-order(2);
}


.body-container+.body-splitter{
    .flex-order(4);
    border-bottom: none;    
}
	
.c-splitter-row{
  height: 6px;
 .bg-gradient(#F1F1F1,#D8D8D8);
  border-color: #bbb;
  border-style: solid;
  border-bottom-width: 1px;
  border-left: none;
  border-right: none;
  	.flex(0);
  	
  &.flat{
  	 background: #D8D8D8  !important;
  }
}
.c-splitter-col{
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  background-color: #E2E2E2;
  width: 8px;
  margin-top: -1px;
  margin-bottom: -2px;	
		.flex-order(2);
				.flex(0);
}
.c-splitter-col2{
	width:20px;
}

.parentInherit{
    .flex-inherit();
    	
}

